disableGuessImports = true
disableInstallBeforeRun = true
entrypoint = "main.py"
hidden = [".pythonlibs"]
modules = ["python-3.11:v30-20240222-aba8eb6"]
run = ["python", "main.py"]

[deployment]
  deploymentTarget = "cloudrun"
  run = ["python3", "main.py"]

[env]
  PYTHONPATH = "$PYTHONPATH:$REPL_HOME/.pythonlibs/lib/python3.11/site-packages"

[nix]
  channel = "stable-23_11"

[unitTest]
  language = "python3"
